.hero {
    background: linear-gradient(101.85deg, rgba(239, 155, 255, 0.22) 0%, rgba(111, 205, 255, 0.22) 50.7%, rgba(255, 215, 89, 0.22) 102.47%);
}

.prize_section {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.prize_container{
  /*  margin: auto;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* padding-bottom: 3vh;*/
    margin-bottom: 2vh;
    flex-basis: 25%;

}
.prize_circle {
    background: white;
    border-radius: 100%;
    padding: 2vw ;
    margin-bottom: 5vh;
    padding-bottom: 5vw;
}

.prizes_icon {
    width: fit-content;
    margin: auto;

   /* padding-bottom: 2vh;*/
}
.prizes_icon > img{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 8vh 0 15vh;
    }
    .section__intro__heading {
        margin-bottom: 6vh;
    }
    }

.prize_caption{
   /*position: absolute;
    bottom: 0;
    font-weight: 900;
    width: min-content;*/
    font-size: large;

}
@media screen and (max-width: 500px) {
    .prizes_icon {
        padding-bottom: 2vh;
    }

.prize_section{
    flex-direction: column;
     margin-top: 0;
}

    .prize_circle{
        background: white;
        border-radius: 100%;
        padding: 6vh ;
        margin: 5vh;
    }



}
    .hero__heading, .hero__sub-heading, .section__intro__heading{
        color: black !important;
    }

@media screen and (min-width: 900px){
    .hero__information, .hero__illustration {

        flex: 0 1 50% !important;

    }
}
.intro_image{
    width: 80%;
    border-radius: 10px;
}
.hero__cta{
    margin-bottom: 3vh !important;
}
.footer__top{
    padding-bottom: 4vh !important;
}

@media screen and (max-width: 767px) {
    .footer__top{
        padding-bottom: 0 !important;
    }
}
.header__nav__btn,.btn--primary{
    color: #12122C !important;
    text-transform: capitalize !important;
}

/*
@media screen and (max-width: 768px) {
    .section__row__column{
        -webkit-box-flex: 0;
        flex: 0 1 100% !important;

    }
    .pad_md_bottom{
        padding-bottom: 3vh !important;
    }
}*/
.info_title{
    text-align: center;
    margin-bottom: 3vh;
}

.section__intro__heading{
   /* font-size: 36px;*/
}
.info{
    background: #FFFFFF  ;
    padding-bottom: 2vh;

}
.btn{
  /*  padding: 18px 15%;*/
}
.hero__heading, .hero__sub-heading, .section__intro__heading, .heading--primary, .paragraph {
    color: #333333 !important;
}

.section__intro__heading {
    color: #12122C !important;
}
.prizes{
    padding: 6vh 0 10vh;
    background: #F2F2F2;
}

@media screen and (max-width: 767px) {
    .footer__top{
        padding-bottom: 0 !important;
    }

    .prizes {
        padding: 4vh 0;
    }

    .info_title {
        text-align: center;
        margin-bottom: 0;
    }

    .prizes > .section__intro__heading{
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .section__row__column {
        -webkit-box-flex: 0;
        flex: 0 1 100%;
    }
    .section__row__column:not(:last-of-type) {
        margin-bottom: 30px;
    }
    .prize_container {
        margin-bottom: 10vh;
    }
    .prize_circle {
        background: white;
        border-radius: 100%;
        padding: 10vh;
        margin-bottom: 4vh;
        padding-bottom: 15vh;
    }

    .prize_section {
        flex-direction: column;
    }
}


